<nav class="navbar navbar-dark bg-primary">
  <div class="container-md">
    <a class="navbar-brand">National Scholarship Portal</a>
  </div>
  <form class="d-flex">
    <button class="btn btn-success" type="submit">HOME</button>
  </form>
</nav>
<div class="alert alert-danger" role="alert"> 
  Eligible Students Should Check Available Scholarship Schemes 
</div>
<div></div>
<div class="container">
  <!-- <app-basic-details></app-basic-details>
  <br>
  <hr>
  <br>
  <app-academic-details></app-academic-details>
  <br>
  <hr>
  <br>
  <app-tenth-details></app-tenth-details>
  <br>
  <hr>
  <br>
  <app-twelth-details></app-twelth-details>
  <br>
  <hr>
  <br>
  <app-fee-details></app-fee-details>
  <br>
  <hr>
  <br>
  <app-other-details></app-other-details>
  <br>
  <hr>
  <br>
  <app-contact-details></app-contact-details>
  <br>
  <hr>
  <br>
  <app-submit-details></app-submit-details> -->
  <div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded">
  <ul class="nav nav-pills">
    <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/BasicDetails">BasicDetails</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >BasicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >AcademicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TenthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TwelthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >FeeDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >OtherDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  aria-current="page" >ContactDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >SubmitDetails</a>
    </li>
  </ul>
    </div>
  </div>
  <!-- <a routerLink="/BasicDetails">BasicDetails</a>
  <a routerLink="/AcademicDetails">AcademicDetails</a>
  <a routerLink="/TenthDetails">TenthDetails</a>
  <a routerLink="/TwelthDetails">TwelthDetails</a>
  <a routerLink="/FeeDetails">FeeDetails</a>
  <a routerLink="/OtherDetails">OtherDetails</a>
  <a routerLink="/ContactDetails">ContactDetails</a>
  <a routerLink="/SubmitDetails">SubmitDetails</a> -->
</div>


<div>
  <router-outlet></router-outlet>
</div>



